- @page_title = "Home"
- @page_description = ""

.breadcrumbs{"data-module" => "track-click"}
  %ol
    %li
      = link_to "Service Toolkit", "https://www.gov.uk/service-toolkit", target: :blank
    %li
      = link_to "Registers", root_path
    %li
      = link_to "Combined list", "#main"

.container#main
  .grid-row
    .column-two-thirds
      %h1 Combine data with the Prisons list
      %p You can create a combined list by selecting form the options below. For example, selecting "Companies" and "Addresses" will display the company and address details for every prison

  .grid-row
    .column-one-whole
      %form
        %fieldset
          %legend.visually-hidden Lists to combine
          %label.block-label.selection-button-checkbox{for: "list-1"}
            %input#list-1{name: "lists", type: "checkbox", value: "address"}
            Address
          %label.block-label.selection-button-checkbox{for: "list-2"}
            %input#list-2{name: "lists", type: "checkbox", value: "companies"}
            Companies
          %label.block-label.selection-button-checkbox{for: "list-3"}
            %input#list-3{name: "lists", type: "checkbox", value: "local-auth-eng"}
            Local authorities in England

  .search-wrapper
    .grid-row
      .column-one-half
        = link_to "Combine with another list", combine_path
      .column-one-half
        = form_tag prisons_path, method: 'get', id: "search", class: "site-search" do
          .content
            = text_field_tag :search, params[:search], title: "Search", type: "search", id: "site-search-text", class: "js-search-focus", placeholder: "Search prisons"
            = submit_tag "Search", class: 'submit'

  .grid-row
    .column-one-whole
      - if @prisons.present?
        .table-wrapper
          %table
            %col{width: "25%"}
            %col{width: "10%"}
            %col{width: "12.5%"}
            %col{width: "12.5%"}
            %col{width: "20%"}
            %col{width: "20%"}
            %thead
              %tr
                %th= sort_link "name", "Prison name"
                %th= sort_link "code", "Code"
                %th= sort_link "opened", "Opened"
                %th= sort_link "closed", "Closed"
                %th.address
                  .hidden= sort_link "address", "Address"
                %th.organisation
                  .hidden= sort_link "organisation", "Company"
            %tbody
              - @prisons.each do |prison|
                %tr
                  %td= prison.name
                  %td= prison.code
                  %td= prison.opened.present? ? prison.opened.strftime("%d/%m/%Y") : "<span class='unknown'>No data found</span>".html_safe
                  %td= prison.closed.present? ? prison.closed.strftime("%d/%m/%Y") : "<span class='unknown'>No data found</span>".html_safe
                  %td.address
                    .hidden= prison.address.present? ? prison.address : "<span class='unknown'>No data found</span>".html_safe
                  %td.organisation
                    .hidden= prison.organisation.present? ? prison.organisation : "<span class='unknown'>No data found</span>".html_safe
      - else
        %h4 Sorry, no prisons found for #{params[:search]}

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#list-1').change(function() {
        if(this.checked) {
          $('.address > div').removeClass('hidden');
        } else {
          $('.address > div').addClass('hidden');
        }
      });

      $('#list-2').change(function() {
        if(this.checked) {
          $('.organisation > div').removeClass('hidden');
        } else {
          $('.organisation > div').addClass('hidden');
        }
      });
    });
